.divContainer {
    background: linear-gradient(359.85deg, #C0E7F7 -2.86%, rgba(255, 255, 255, 0.97) 78.47%);
    height: 100vh;
    overflow: hidden;

}

.fatherD{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem;

}

.bBack{
margin-left: 2rem
}
.imgOne{
    margin:0 0 1rem;
}