
@media only screen 
and (min-device-width : 425px) 
and (max-device-width : 758px)  {
.divContainer {
  background: linear-gradient(
    359.85deg,
    #c0e7f7 -2.86%,
    rgba(255, 255, 255, 0.97) 78.47%
  );
  height: auto;
 

  overflow: hidden;
}


p {
  line-height: 1.6em;
}

.tools {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-top: 1rem;
  margin-left: 0.5rem !important;
}
.bClear{
  width: 47px;
height: 29px;
left: 36px;
top: 173px;

background: #FFFFFF;
border: 1px solid #592D84;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
}
.InBr{
  width: 47px;
  height: 29px;
  left: 36px;
  top: 173px;
  
  background: #FFFFFF;
  border: 1px solid #592D84;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.brushR{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.dFCanvas {
  display: flex;
  justify-content: center;
  border: 2px solid #000000;

  width: 370px;
  height: 500px;
  margin-left: 1.7rem !important;
  margin-top: 1rem;
}

input[type="number"] {
  width: 50px;
}
.bBack {
  margin-left: 1.7rem;
  margin-top: 0.3rem;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .divContainer {
    background: linear-gradient(
      359.85deg,
      #c0e7f7 -2.86%,
      rgba(255, 255, 255, 0.97) 78.47%
    );
    height: 100vh;
   
  
    overflow: hidden;
  }
  
  
  p {
    line-height: 1.6em;
  }
  

  .tools {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 4rem;
    margin-left: 11.5rem;
  }
  .dFCanvas {
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
  
    width: 370px;
    height: 500px;
    margin-left: 12.6rem;
    margin-top: 1rem;
  }
  
  input[type="number"] {
    width: 50px;
  }
  .bBack {
    margin-left: 3.5rem;
    margin-top: 0.3rem;
  }
  .bClear{
    width: 78px;
    height: 29px;
    left: 36px;
    top: 173px;
    background: #FFFFFF;
    border: 1px solid #592D84;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 14px;
  }
  .InBr{
    width: 47px;
    height: 29px;
    left: 36px;
    top: 173px;
    
    background: #FFFFFF;
    border: 1px solid #592D84;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  .brushR{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
  }
  
}
