@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 758px) 
 {
    .containerHeader {
        width: 100%;
        height: 165px;
        background: linear-gradient(359.85deg, rgba(196, 196, 196, 0) -2.86%, #FFDE73 1.45%, rgba(255, 255, 255, 0.97) 78.47%);
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
        border-radius: 0px 0px 30px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        position: relative;
        z-index: 1;
    }

    .imageContainer {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-block-start: -3em;
        margin-inline-start: 2em;
        
    }

    .headerLogo {
        padding-top: 1em;
        padding-left: 4em;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
    .containerHeader {
        width: 100%;
       /* height: 165px;*/
        background: linear-gradient(359.85deg, rgba(196, 196, 196, 0) -2.86%, #FFDE73 1.45%, rgba(255, 255, 255, 0.97) 78.47%);
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
        border-radius: 0px 0px 30px 30px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
    }

    .imageContainer {
        display: flex;
        justify-content: space-between;
        width: 82%;
        margin-left: 4rem;
    }
    .imageContainer img{
        height: 140px;
        width: 140px;
     
    }

    .headerLogo {
        padding-top: 1em;
        padding-left: 13.5em;
        width: 110%;
    }
}