.container {
    
    background: linear-gradient(359.85deg, #C0E7F7 -2.86%, rgba(255, 255, 255, 0.97) 78.47%);
    height: 100vh
}

.hFather {
    display: flex;
    justify-content: center
}

.hS{
     color:#592D84;
     font-size:26px;
     font-family:verdana;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     margin-top: 2rem;
}

.pFather {
    text-align: center;
    height: 10vh;
    width: 80vw;
    margin-left: 2.5rem
}
.pS{
    color:black; 
    font-size:16px; 
    font-family:verdana; 
    text-align:center;
    margin-top: 3rem;
}

.bFather {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-content: space-between;
    margin-top: 4rem
}

.bInit {
    width: 66vw;
    height: 13vh;
    font-family: verdana;
    font-size: 20px;
background: #FFFFFF;
border: 1px solid #592D84;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
margin: 20px 
}