
@media only screen 
and (min-device-width : 425px) 
and (max-device-width : 658px) {

.divContainer {
    background: linear-gradient(359.85deg, #C0E7F7 -2.86%, rgba(255, 255, 255, 0.97) 78.47%);
    height: auto;
    overflow: hidden;

}

  .containerVideo{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 50px;
        padding: 15px;
    
  }
  .fatherbutBack{
      margin-top:17rem !important
  }
  .bBack{
    margin-left: 3.5rem;
    margin-top: 2rem;
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px){
      .divContainer {
        background: linear-gradient(359.85deg, #C0E7F7 -2.86%, rgba(255, 255, 255, 0.97) 78.47%);
        height: 100vh;
        overflow: hidden;
    
    }
    .fatherbutBack{
      margin-top:25.5rem
  }
  
  .containerVideo{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    padding: 15px;

}
  .bBack{
    margin-left: 3.5rem;
    margin-top: 3rem;
    }
    }