.ReactModal__Overlay {
    z-index: 10000;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 200ms ease-in-out;  
    background-color: red;
}
  
.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
    background-color: red;
}
  
.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}

.modalStyle {
    margin-block-start: 15%;
    margin-inline-start: 10%;
    background: linear-gradient(
      359.85deg,
      #66ccf5 -2.86%,
      rgba(255, 255, 255, 0.97) 90.47%
    );
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
}

.modalItem {
    color: white;
    padding: 0.5rem;
} 

.modalContent {
    transform: translate(-50%,-50%);
    justify-content: column
    ;
    text-align: center;
    font-weight: 900;
    font-family: 'Montserrat';
}


.modalItem::after {
  content: '';
  display: block;
  transition: width .3s;
}

.modalItem:hover::after {
  transition: width .3s;
}

.starsContainer {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.starsContainer img {
  margin-right: 0.5em;
}

.questionTitleContainer {
  display: flex;
  justify-content: space-around;
}

.buttonSpeak {
  margin-block-start: 6%;
  min-width: 50px;
  height: 50px;
  margin-inline-end: 10%;
  border-radius: 50px;
  background: #592d84;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonSpeak i {
  font-size: 20px;
 
}

.pStyle{
  margin-inline-end: 0em;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 758px) {
  .divContainerGame {
    background: linear-gradient(
      359.85deg,
      #c0e7f7 -2.86%,
      rgba(255, 255, 255, 0.97) 78.47%
    );
    height: 100px;
  }

  .containerCardGame {
    width: auto;
    height: 149px;
    border-radius: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
  }

  .containerCardGame:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .containerCard:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .containerCardGame img {
    width: auto;
    height: 149px;
  }

  .containerCardButtonsGame {
    margin-inline-start: 2.5em;
    margin-inline-end: 2.5em;
    margin-block-end: 2em;
    background: rgba(89, 45, 132, 0.39);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .divContainerGame {
    background: linear-gradient(
      359.85deg,
      #c0e7f7 -2.86%,
      rgba(255, 255, 255, 0.97) 78.47%
    );
    height: 100vh;
  }

  .containerCardGame {
    width: 206px;
    height: 227px;
    border-radius: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
  }

  .containerCardGame:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .containerCard:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .containerCardGame img {
    width: 206px;
    height: 227px;
  }

  .containerCardButtonsGame {
    margin-inline-start: 2.5em;
    margin-inline-end: 2.5em;
    margin-block-end: 2em;
    background: rgba(89, 45, 132, 0.39);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  
  .buttonSpeak {
    margin-block-start: 6%;
    min-width: 70px;
    height: 70px;
    margin-inline-end: 10%;
  }
  .buttonSpeak i {
    font-size: 40px;
  }
}
